### Web App Structure

The web app consists of a single `index.html` file, which serves as a container. The `index.js` file dynamically adds content to this HTML container. Notably, there is no separate CSS file, as all styling is handled directly within the `index.js` file.
